[submodule "Submodules/imgui"]
	path = Submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Submodules/openvr"]
	path = Submodules/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "Submodules/RenderToyAssets"]
	path = Submodules/RenderToyAssets
	url = https://github.com/AdamJohnson64/RenderToyAssets.git
